// variables
$color1: #222;
$color2: #efefef;
$color3: #fba919;

// default styling
body {
	background: $color3;
	color: $color2;
}

body.custom-background {
	background-position: center;
	background-repeat: no-repeat;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	background-size: cover;
}

a {
	color: $color3;
	text-decoration: none;
}

h1 a {
	color: $color2;
}

img {
	max-width: 100%;
	height: auto;
}

input, textarea {
	border: 1px solid $color1;
	background: $color2;
	padding: 0.3em 0.4em;
	box-shadow: inset -1px -1px 6px $color1;
}

.site {
	overflow: hidden;
	background: rgba($color1, 0.85);
	@include outer-container;
}

.size-auto,
.size-full,
.size-large,
.size-medium,
.size-thumbnail {
	max-width: 100%;
	height: auto;
}